#root {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
}

.flex {
  display: flex;
}

.w-100 {
  width: 100%;
}

.justify-center {
  justify-content: center;
}

.items-center {
  align-items: center;
}

.flex-col {
  flex-direction: column;
}

.w-auto {
  width: auto;
}

.w-20 {
  width: 20rem;
}